* {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(19, 72, 70);
    background-color: rgb(254, 254, 235);
}

.home {
    text-align: center;
}

.home h1 {
    border-bottom: 2px solid rgb(19, 72, 70);
}

.home h1 span {
    color: mediumseagreen;
}

.home ul {
    display: inline-block;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 22px;
    text-align: center;
    border: 2px solid rgb(19, 72, 70);
    padding: 20px;
}

.home li {
    margin: 25px auto;
    border-bottom: 1px solid rgb(19, 72, 70);
}

.home a:link,
a:visited {
    text-decoration: none;
    color: rgb(33, 41, 41);
    font-weight: bold;
}

.home-back a:link,
a:visited {
    font-size: 20px;
    text-decoration: none;
    color: rgb(33, 41, 41);
    font-weight: bold;
    border-bottom: 1px solid rgb(33, 41, 41);
}

.home-back span {
    color: mediumseagreen;
    border-bottom: 1px solid rgb(33, 41, 41);
}

.image img {
    border: 1px solid rgb(33, 41, 41);
    padding: 10px;
}

.recipe-info {
    margin: 40px;
}

.image,
.description {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    max-width: 600px;
}

.description {
    margin-left: 10px;
}

.recipe-details {
    margin-left: 50px;
    margin-bottom: 50px;
}